# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy.
2. Pandas.
3. Matplotlib.

Data Science Tools

1. Apache Spark

2. Tableau

3. TensorFlow

### Below are a few examples of evaluating arithmetic expressions in Python.
1. Addition: `3 + 4` equals 7.
2. Subtraction: `10 - 5` equals 5.
3. Multiplication: `6 * 8` equals 48.
4. Division: `20 / 4` equals 5.

In [3]:
result = (3 * 4) + 5
result

17

In [4]:
minutes = 200
hours = minutes/ 60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Introduce common data science libraries.
- Provide examples of arithmetic operations.
- Convert units (minutes to hours).

## Author
Oluwuyi Olumide Ismail